.FooterItems {
    margin: 0 20px 30px 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    text-align: right;
    bottom: 0;
    right: 0;
    position: absolute;
}

@media (min-width: 500px) {
    .FooterItems {
        align-items: flex-end;
        position: relative;
    }
}