.Hero {
    margin: 0;
}

.Hero h2 {
    margin: 30px 10% 30px 10%;
    text-align: left;
}

.Hero p {
    margin: 20px 10% 0 10%;
    text-align: left;
    line-height: 1.5rem;
}

.HeroImage {
    width: 100%;
    height: auto;
}

.AppStoreButton {
    display: block;
    margin: 60px auto 60px;
    width: 130px;
    height: 45px;
}