.Hero {
    margin: 0 0 60px;
}

.HeroImage {
    width: 100%;
    height: auto;
}

.Text {
    margin: 30px 0 60px;
}

.Text h2 {
    margin: 0 10% 30px 10%;
    text-align: left;
}

.Text p {
    margin: 20px 10% 0 10%;
    text-align: left;
    line-height: 1.5rem;
}

.AppStoreButton {
    display: block;
    margin: 80px auto;
    width: 130px;
    height: 45px;
}