.Form {
    width: 100%;
    margin: 0;
    padding: 0;
}

.Form button {
    font-weight: bold;
    font-size: 0.9rem;
    height: 40px;
    border: 2px solid steelblue;
    background-color: white;
    color: steelblue;
    width: 100%;
    margin: 20px 0;
    margin: auto;
    border-radius: 50px;
}

.Form button:hover {
    background-color: steelblue;
    color: white;
}

.SubmitMsg {
    box-sizing: border-box;
    margin: 60px 10% 0 10%;
}