.DrawerToggle {
    width: 40px;
    height: 35px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 1px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.DrawerToggle div {
    width: 90%;
    height: 15%;
    background-color: steelblue;
    border-radius: 10px;
}

@media (min-width: 500px) {
    .DrawerToggle {
        display: none;
    }
}