.SideDrawer {
    position: fixed;
    width: 80%;
    max-width: 80%;
    height: 100%;
    left: 20%;
    top: 0;
    background-color: white;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(100%);
}

.Logo {
    height: 135px;
    max-width: 100%;
}

.AppStoreButton {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    padding: 0;
    height: 35px;
}

