.ContactForm {
    width: 60%;
    margin: 60px 0 0 10%;
}

.ContactForm input {
    width: 100%;
    height: 30px;
    margin: 0;
    border: none;
    border-bottom: steelblue solid 2px;
    font-size: 1rem;
}

.ContactForm button {
    font-weight: bold;
    font-size: 0.9rem;
    height: 40px;
    border: 2px solid steelblue;
    background-color: white;
    color: steelblue;
    width: 100%;
    margin: 20px 0;
    border-radius: 50px;
}

.ContactForm button:hover {
    background-color: steelblue;
    color: white;
}