.FormInput input {
    width: 100%;
    height: 40px;
    margin: 0 auto 10px;
    padding: 0;
    border: none;
    border-bottom: steelblue solid 2px;
    font-size: 1rem;
}

.FormInput h5 {
    margin: 0;
    padding: 0;
}

.FormInput textarea {
    width: 100%;
    height: 70px;
    margin: 10px auto 10px;
    padding: 0;
    border: none;
    border-bottom: steelblue solid 2px;
    font-size: 1rem;
}