.FooterItem {
    margin: 3px 0;
    font-size: 0.8rem;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.FooterItem a {
    color: lightgray;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.FooterItem a:hover,
.FooterItem a:active,
.FooterItem a.active {
    color: dimgray;
}